* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    Font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*::selection {
    color: white;
    background-color: black;
}

html,
body {
    Width: 100%;
    Height: 100%;
}

body {
    background-color: #F7F7F7;
}
#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;

    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
}

#icons {
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

    
.page1 {
    
    padding-top: 35vh;
    min-height: 100vh;
    width: 100%;
    position: relative;
    

}

.pageh {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page1 h1 {
    text-transform: uppercase;
    font-size: 16.1vw;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 13vw;
    letter-spacing: -5px;
}

.video1 {
    margin-top: 10vh;
    height: 100vh;
    width: 100%;




}

.video1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page2 {

    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;


}

.page2 .elm {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100%;
    width: 31%;
    overflow: hidden;
}
.dets1 {
    background-color: #E5F0D6;

}
.dets2{
    background-color:#F5DFCF ;
}
.dets3{
    background-color: #FFFFFF;
}
.dets{
    height: 52px;
    position: absolute;
    width: 70%;
    border-radius: 50px;
   
    
   


}
.dets:hover{

   height: 200px;

}

.elm img {
    scale: 1.1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page3{
    min-height: 120vh;
    width: 100%;
    /* background-color: #F7F7F7; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0vh 15vh;

}
.child{
    height: 70vh;
    width: 35vw;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#cursor {
    height: 180px;
    width: 180px;
    background-color:#D9D9D9;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0) ;
    /* z-index: 8; */

}

@media (max-width:1020px) {
    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }
    .page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    .page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    .video1 {
        margin-top: 2vh;
        height: 55vh;}




    .page2 {

        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5vw 5vw;
        flex-direction: column;
    
    
    }
    
    .page2 .elm {
    
    
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 3vw;
    }
    .page3{
        min-height: 120vh;
        width: 100%;
        /* background-color: #F7F7F7; */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0vh 0vh;
    
    }
    .child{
        height: 40vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .child img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
   
    
   

    


}